<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SocialShare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        

          <li class="nav-item " align="left" *ngIf="!isUserLoggedIn">
            <a class="nav-link" routerLink="login">Hello Guest !</a>
          </li>
        
        
        <li class="nav-item " *ngIf="isUserLoggedIn">
          <a class="nav-link" (click)="reloadApp()">Home</a>
        </li>
          
          <li class="nav-item " *ngIf="isUserLoggedIn">
            <a class="nav-link" (click)="logout()" > Logout from {{displayName}}</a>
          </li>
        
      </ul>

    </div>
 
</nav>
   